.sw-theme-arrows > .nav .nav-link::before,.sw-theme-arrows > .nav .nav-link::after
{
    display: none!important;
}
.sw > .nav .default > .num
{
    background: #f7f7f9!important;
    color:black!important;
}
.sw-theme-arrows > .nav .nav-link.done
{
    background: none!important;
    color: black!important;
}
.sw-theme-arrows > .nav .nav-link
{
    height: unset!important;
  padding: 10px!important;
  margin: 0px!important;
}
.sw-theme-arrows > .nav .nav-link p
{
    margin-bottom: 0px!important;
    font-weight: 600!important;
    color: black!important;

}
.sw > .nav .done > .num
{
    background: #f62a30!important;
    color: white!important;
}
.sw > .nav .nav-link > .num
{
    font-size:20px!important;
    font-weight: 500!important;
  height: 50px!important;
  width: 50px!important;
  margin: 20px auto!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  border-radius: 50%!important;
  padding: 0px!important;
  float: unset!important;
}
.sw-theme-arrows > .nav .nav-link.active
{
    background: none!important;
}
.sw > .nav .nav-link.active > .num
{
    font-size:20px!important;
    font-weight: 500!important;
  height: 50px!important;
  width: 50px!important;
  margin: 20px auto!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  border-radius: 50%!important;
  padding: 0px!important;
  float: unset!important;
}
.sw > .nav .active > .num
{
    background: #f62a30!important;
    color: white!important;
}
.sw-theme-arrows > .nav .nav-link.default
{
    background: none!important;
    color: black!important;
}
.hr-line
{
    height: 0px!important;
  border-bottom: 2px dotted black!important;
  position: relative!important;
  top: 58px!important;
  width: 500px!important;
  margin: 0 auto!important;
}
.sw > .progress > .progress-bar
{
    background: #f62a30!important; 
}
.sw .toolbar > .sw-btn
{
    background: none!important;
    border:1px solid #f62a30!important;
    border-radius: 100px!important;
    width: 100px;
    color: #f62a30!important;
    font-size: 18px!important;
}
.sw .toolbar > .sw-btn-next
{
    background: #f62a30!important;
    color: white!important;
}

